*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.home{
  padding-top: 20px;
  height: 725px;
  background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(/images/Biryani.webp);
  background-position: center;
  background-size: cover;
  position: relative;
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
}
.nav-links{
  color: white;
  flex: 1;
  text-align: center;
  text-decoration: none;
}
.nav-links ul li{
  color: white;
  display: inline-block;
  margin-left: 50px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;

}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 3px;
  background: orange;
  display:block;
  margin: auto;
  transition: 0.4s ease-in-out;
  text-decoration: none;
 
}
.nav-links ul li:hover::after{
  width: 100%;
  
}
.nav-links ul li :hover{
  cursor: pointer;
}
.logo{
  height: 120px;
  width: 120px;
  margin-left: 100px;
  margin-right: -50px;
}
.whats-new{
  margin-top: -10px;
  height: 753px;
  text-align: center;
  background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(/images/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.whats-new-title{
  font-size: 50px;
  padding-top: 40px;
}
.whats-new-subtitle{
  margin-top: 10px;
}
.three-items{
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex: 3;
  justify-content: space-between;
}
.iteam-1{
  height: 450px;
  width: 350px;
  margin-right: 10px;
  transition: 0.8s;
}
.iteam-1-img{
  height: 450px;
  width: 350px;
  border-radius: 70px;
}
.iteam-1:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.iteam-2{

  height: 450px;
  width: 350px;
  margin-left: 10px;
  transition: 0.8s;
}
.iteam-2-img{
  height: 450px;
  width: 350px;
  border-radius: 70px;
}
.iteam-2:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.iteam-3{
  height: 450px;
  width: 350px;
  margin-left: 20px;
  transition: 0.8s;
}
.iteam-3-img{
  height: 450px;
  width: 350px;
  border-radius: 70px;
}
.iteam-3:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.Website-title{
  color: orange;
  font-size: 40px;
  margin-left: 635px;
  padding-top: 20px;
}
.menu-title{
  margin-left: 700px;
  color: white; 
  font-size: 35px;
}
.menu{
  height: 1250px;
  background-image: url(/images/menu-bg.jpg);
  background-repeat: no-repeat ;
  background-size: cover;
}
.menu-grid{
  height: 1200px;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  grid-template-rows: 330px 330px 330px;
  column-gap: 25px;
  row-gap: 30px;
  margin-left: 85px;
  padding-top:50px
}
.menu-iteam{
  display: grid;
  height: 330px;
  width: 250px;
  background-color: white;
  border-radius: 10px;
  transition: 0.6s ease-in-out;
}
.menu-iteam:hover{
  scale: 1.12;
  cursor: pointer;
}
.menu-img{
  height: 250px;
  width: 240px;
  padding-top: 5px;
  padding-left: 5px;
  border-radius: 10px;
}
.star{
  height: 27px;
  width: 27px;
  margin-top: -4px;
}
.rating-price{
  display: flex;
  flex: 2;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: 10px;
}
.rating{
  display: flex;
}
.price{
 display: flex;
}
.about{
  height: 740px;
  background-color: red;
}
.contact-us{
  height: 745px;
  background-color: blue
}